<h1><%= Gettext.gettext("Edit User") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<%= link Gettext.gettext("Delete"), to: Routes.user_path(@conn, :delete, @user), method: :delete, data: [confirm: Gettext.gettext("Are you sure?")] %>
