<h1><%= Gettext.gettext("Edit Item") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.item_path(@conn, :update, @item)) %>

<span><%= link Gettext.gettext("Back"), to: Routes.item_path(@conn, :index) %></span>
