<about>
  <div id="term" class="visible">
    Винаги ще се радваме, ако имате желание да станете наш спонсор.
    Това за нас означава, че сте доволни и намирате полза от това което правим и искате да поддържаме и увеличаваме качеството на нашите услуги.
    В знак на признателност, на тази страница ще представя, всеки който е станал наш спонсор. 
    Спонсори, които са ни помогнали най-много дори ще се показват в фуутъра на сайта.

    За да станете наш спонсор е необходимо да преведете в наша сметка сума по ваше желание без ограничения. За целта молим да се свържете с нас по е-мейл.
  <div>
<about>