
#info {
  .info_title {
    vertical-align: top;
    padding-right: 0.5em;
    font-size: 1em;
    font-weight: 600;
  }

  .info_content {
    vertical-align: top;

    &.description,
    &.expiration,
    &.conditions {
      @include pre-wrap;
    }
    
    .datalist_item_html {
      white-space: pre-wrap;
      word-break: break-word;
      
      & > span {
        margin-right: 1em;
      }
    }
  }

  &.item_info {
    display: grid;
    grid-template-columns: minmax(30vw, 1fr);
    grid-template-areas:
      'item_images'
      'actions'
      'item_user_info'
      'item_details';

    avatar {
      padding-bottom: 1em;
  		img {
        vertical-align: middle;
  			max-width: 2em;
  			border-radius: 50%;
  		}
    }

    item_images {
      grid-area: item_images;
      width: 100%;
      height: auto;
      position: relative;
    }

    rating_scores {
      padding: 0.2em;
      margin: 0.5em;
      position: absolute;
      z-index: 10;
      background-color: white;
      border-radius: 6px;
    }


    item_title {
      grid-area: item_title;
    }

    item_user_info {
      grid-area: item_user_info;
      display: flex;
      flex-direction: column;
      margin: 1em;

      & > span {
        display: flex;
      }
    }

    item_details {
      grid-area: item_details;
      display: flex;
      flex-direction: column;

      & > span {
        padding: 1em 1em 0 1em;
      }

      .feature_name {
        float: left;
        margin-right: 1em;
        background-color: $baseBackgroundColor;
      }

      .tag_value {
        margin-right: 0.5em;
      }

    }

  }

  &.user_info {
    display: grid;
    grid-template-columns: minmax(30vw, 1fr);
    grid-template-areas:
      'user_images'
      'actions'
      'user_info'
      'user_details';

    user_images {
      grid-area: user_images;
      width: 100%;
      height: auto;
      position: relative;
    }

    user_info {
      grid-area: user_info;
      display: flex;
      flex-direction: column;
      padding: 0.5em;

      & > span {
        display: flex;
      }
    }

    rating_scores {
      padding: 0.2em;
      margin: 0.5em;
      position: absolute;
      z-index: 10;
      background-color: white;
      border-radius: 6px;
    }

    user_details {
      grid-area: user_details;
      display: flex;
      flex-direction: column;

      & > span {
        padding-top: 1em;
      }

    }
  }

  actions {
    grid-area: actions;

  }


}


// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

    #info {
      &.item_info {
        grid-template-columns: minmax(30vw, 1fr) 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
          'item_images item_user_info'
          'actions actions'
          'item_details item_details';
      }

      &.user_info {
        grid-template-columns: minmax(20vw, 1fr) 1fr;
        grid-template-rows: min-content min-content 1fr;
        grid-template-areas:
          'user_images user_info'
          'actions actions'
          'user_details user_details';
      }

      item_images {
        max-width: 60vw;
      }

      user_details,
      item_details {
        & > span {
          display: grid;
          grid-template-columns: 20vw 1fr;

          .info_title {
            padding-right: 1em;
            grid-column: 1 / 2;
          }

          .info_content {
            grid-column: 2 / 6;
          }
        }
      }
    }

}
