main {
  
  about {
    .visible {
      display: block;
    }

    div {
      display: none;
      height: auto;
      @include pre-wrap;

    }

    :target {
      display: block;
    }
  }
} 

// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

}
