
.edit_form {
  .form-image-group {
    display: none;
  }

  .form-group {
    display: grid;
    padding: 1em;

    .hint {
      display: none;
    }
    
    .hint:hover ,
    textarea:focus ~ .hint,
    input:focus ~ .hint {
      display: block;
      font-size: small;
    }

    textarea {
      max-width: 99%;
      resize: vertical;
    }

    .datalist_item_html {
      width: calc(100% - 1em);

      white-space: pre-wrap;
      word-break: break-word;
      
      & > span {
        display: inline-block;
        width: 7em;
      }

      .datalist_item_oninput_event {
        margin: auto;
        width:  calc(100% - 8em);
      }
    }

    .settings_field {
      & > span {
        display: inline-block;
        width: 10em;
      }

      .settings_field_value {
        width:  calc(100% - 13em);
      }
    }

  }

  .submit_button {
    position: fixed;
    top: $height-header;
    right: 1em;
    padding: 1em;

    z-index: 100;
  }
}

.panel_title {
  background-color: white;
  z-index: 100;
}

// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

  .edit_form {
    .form-group {
      grid-template-columns: 20vw 1fr;

      label {
        text-align: right;
        padding-right: 1em;
        grid-column: 1 / 2;
      }

      .hint {
        grid-column: 2 / 6;
      }


      .help-block,
      input,
      textarea {
        grid-column: 2 / 6;
      }
    }
  }

}
