#user_template,
#rating_template,
#comment_template,
#item_template {
  display: none;
}

#empty_filter_result.active {
  padding: 1em;
}

#empty_filter_result.inactive {
  display: none;
}

.panel_title {
  background: white;
  position: sticky;
  top: 0px;
  padding: 0.5em;
  line-height: 1.8;
  font-weight: bold;
}

.listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width-header/2 + 0.5em, 1fr));
  grid-gap: 1em;
}

.listing > * {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  max-width: $width-header;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 5px;

  a {
    text-decoration: none;
    color: black;
  }
}

.listing > item {
  display: grid;
  grid-template-rows: $width-header/1.5 1fr;
  grid-template-areas:
    'cover cover cover cover'
    'title title title title'
    'comments comments merchant merchant'
    '. price price discount'
    '. price_orig price_orig discount';
}

.listing > user {
  display: grid;
  grid-template-areas:
    'cover'
    'comments'
    'title';
}

.listing .cover {
  grid-area: cover;

  padding-bottom: 1em;
  // background-image: url('data:image/svg+xml;utf-8,\
  // <svg xmlns="http://www.w3.org/2000/svg">\
  //   <text x="20" y="20" font-family="sans-serif" font-size="20px" >no image</text>\
  // </svg>');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 50% 50%;
  width: auto;
  min-width: $width-header/2;

  position: relative;

}

.listing rating_scores {
  padding: 0.2em;
  margin: 0.5em;
  position: absolute;
  z-index: 10;
  background-color: white;
  border-radius: 6px;
}

.listing .title {
  grid-area: title;
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;
  text-align: center;

  a {
    text-decoration: none;
    // color: #0b5d19;
  }
}

.listing .price {
  grid-area: price;

  margin: auto;
  margin-bottom: 0; 
  color: red;
  font-size: 1em;
  font-weight: 700;
}

.listing .value_0,
.listing .value_0\.0,
.listing .value_ {
  display: none;  
}

.listing .price_orig {
  grid-area: price_orig;

  font-size: 0.6em;
  min-height: 0.1em;
  margin: auto; 
  margin-top: 0; 
  text-decoration: line-through;
}

.listing .strike {
  text-decoration: line-through;
}

.listing .discount {
  grid-area: discount;

  border-radius: 10px;
  text-align: center;
  background: green;
  color: white;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2em;
}


.listing .merchant {
  grid-area: merchant;
  margin-bottom: 2em;
  font-size: 0.6em;
  margin-left: auto;
}

.listing .comments {
  grid-area: comments;

  margin-right: auto;
  margin-bottom: 2em;
  font-size: 0.6em;
}
