
header {

  .menu_svg_icon {
    width: 24px;
    height: 24px;
  }
  .svg_icon {
    padding-right: 5px;
    padding-left: 3px;
  }

  logo {
    //grid-area: logo;
    display: flex;
    align-items: center;
    min-height: $height-header;
    min-width: $width-sidebar;
    background-color: $baseBackgroundColor;

    .brand-link {
      font-weight: bold;
      letter-spacing: 0.1em;
      border-style: none;
    }
  }

  title {
    visibility: hidden;
    display: none;
    padding: 1em;
  }

  notifications {
    position: relative;
    cursor: pointer;
    margin-left: auto;
    display: inline-block;

    .badge {
      font-size: 0.7em;
      position: absolute;
      top: 2px;
      right: 2px;
      //padding: 2px 3px;
      border-radius: 50%;
      background: red;
      color: white;
      min-width: 1em;
      text-align: center;
    }
  }

  avatar {
    @include dropdown_icon_border;
    position: relative;
    cursor: pointer;

    img {
      max-height: $height-header;
      @include dropdown_icon_border;
    }
  }

  notifications:hover .dropdown {
      visibility: visible;
      transform: translateY(0);
  }

  avatar:hover .dropdown {
      visibility: visible;
      transform: translateY(0);
  }

  .dropdown {
    position: absolute;
    right: 1px;
    width: 11em;
    height: auto;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all .3s;
    @include box-shadow;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: flex;
      //color: $color-abbey;

      &:hover {
        background-color: rgba(0,0,0, .1);
      }
    }
  }

}

// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

  header {
    title {
      visibility: visible;
      display: block;
    }

    avatar {
      img {
        max-height: $height-header_desktop;
      }
    }
  }
}
