
header {

  title {
    visibility: hidden;
    display: none;
    padding: 1em;
  }

  notifications {
    position: relative;
    cursor: pointer;
    margin-left: auto;
  }

  avatar {
    @include dropdown_icon_border;
    position: relative;
    cursor: pointer;

    img {
      max-height: $height-header;
      @include dropdown_icon_border;
    }
  }

  notifications:hover .dropdown {
      visibility: visible;
      transform: translateY(0);
  }

  avatar:hover .dropdown {
      visibility: visible;
      transform: translateY(0);
  }
}

.dropdown {
  position: absolute;
  right: 1px;
  width: 11em;
  height: auto;
  z-index: 10;
  background-color: #fff;
  border-radius: 4px;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all .3s;
  @include box-shadow;


  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    //color: $color-abbey;
    text-transform: capitalize;

    &:hover {
      background-color: rgba(0,0,0, .1);
    }
  }
}

// tablet view
@media only screen and (min-width: $width-header) {

  header {
    title {
      visibility: visible;
      display: block;
    }

    avatar {
      img {
        max-height: $height-header_desktop;
      }
    }
  }
}
