#credits_banner {
  text-align: center;
  * {
    color: green !important;
  }
}

header {
  .menu_svg_icon {
    width: calc(#{$height-header} - #{$height-header}/ 2);
    height: calc(#{$height-header} - #{$height-header}/ 2);
  }
  .svg_icon {
    padding-right: 5px;
    padding-left: 3px;
  }
  .info_icon {
    padding: 0;

    fill: $reversedColor;
    background-color: $reversedBackgroundColor;
  }

  logo {
    //grid-area: logo;
    display: flex;
    align-items: center;
    min-height: $height-header;
    // min-width: $width-sidebar;
    padding-right: 1em;

    .brand-link {
      font-weight: bold;
      letter-spacing: 0.1em;
      border-style: none;
    }
  }

  h1 {
    margin-right: auto;

    font-size: calc(10px + 1vw);
    font-weight: normal;
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  notifications {
    position: relative;
    // display: none;
    display: inline-block;

    .badge {
      font-size: 0.7em;
      position: absolute;
      top: 2px;
      right: 2px;
      //padding: 2px 3px;
      border-radius: 50%;
      background: red;
      color: white;
      min-width: 1em;
      text-align: center;
    }
  }

  avatar {
    @include dropdown_icon_border;
    position: relative;
    cursor: pointer;
    margin-right: 3px;

    img {
      // margin-top: calc(#{$height-header}/10);
      height: calc(#{$height-header} - #{$height-header}/ 3);
      // max-height: $height-header;
      @include dropdown_icon_border;
    }
  }

  notifications:hover .dropdown {
    visibility: visible;
    transform: translateY(0);
  }

  avatar:hover .dropdown {
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown {
    position: absolute;
    right: 1px;
    width: calc(#{$width-sidebar} * 2);
    max-width: calc(100vw / 1.5);
    height: auto;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.3s;
    @include box-shadow;
    z-index: 200;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: flex;
      //color: $color-abbey;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      a {
        width: 100%;
      }
    }

    .unread_mails_container,
    .login_form_container {
      max-height: calc(100vh - #{$height-header} - 1em);
    }

    #unread_mails {
      width: 100%;
      overflow: auto;

      .title {
        white-space: nowrap;
        overflow: scroll;
        text-overflow: ellipsis;

        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }
    }

    .login_form {
      margin-bottom: 1em;
      font-size: x-small;
      cursor: default;
      height: 100%;
      overflow: auto;
    }

    .link-button {
      background: none;
      border: none;
      cursor: pointer;

      color: white;
      height: 3em;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 1em;
    }

    .checkbox_terms {
      margin-left: 5%;
      margin-top: 1em;
    }

    // input[type="checkbox"]:required:invalid + label {
    input[type="checkbox"]:not(:checked) + label {
      color: red;
    }
    input[type="checkbox"]:checked + label {
      color: green;
    }

    .google_bg {
      background-color: #db4437;
    }

    .facebook_bg {
      background-color: #3b5998;
    }
  }
}

// tablet view
@media only screen and (min-width: $width-header) {
}

//desktop view
@media only screen and (min-width: $width-header_desktop) {
  header {
    logo {
      min-width: $width-sidebar;
    }

    avatar {
      img {
        max-height: $height-header_desktop;
      }
    }
  }
}
