
.listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width-header/2, 1fr));
  grid-gap: 1em;
}

.listing > * {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  padding: 0.1em;
  max-width: $width-header;
  overflow-wrap: break-word;
}

.listing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: $width-header/2;
  border-radius: 3%;
}

.listing .title {
  font-size: 1em;
}
