

#items-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 1em;
  width: 100vw;
}

#items-listing > .entry-content {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  padding: 1em;
  overflow-wrap: break-word;
}

#items-listing > .entry-content img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

#items-listing .text {
  padding: 20px;
}
