#user_template,
#rating_template,
#comment_template,
#item_template {
  display: none;
}

// #next-page-link {
//   display: none;
// }

.listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width-header/2 + 0.5em, 1fr));
  grid-gap: 1em;
}

.listing > * {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  max-width: $width-header;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  padding: 5px;

  a {
    text-decoration: none;
    color: black;
  }
}

.listing > item {
  display: grid;
  grid-template-areas:
    'cover cover cover cover'
    'rating rating comments comments'
    'title title title title'
    '. . merchant merchant'
    '. price price .';
}

.listing > user {
  display: grid;
  grid-template-areas:
    'cover cover'
    'rating comments'
    'title title';
}

.listing .cover {
  grid-area: cover;

  padding-bottom: 1em;
  // background-image: url('data:image/svg+xml;utf-8,\
  // <svg xmlns="http://www.w3.org/2000/svg">\
  //   <text x="20" y="20" font-family="sans-serif" font-size="20px" >no image</text>\
  // </svg>');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 50% 50%;
  width: auto;
  height: $width-header/2;


  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: $width-header/2;
    border-radius: 3%;

    &[src=""] {
      display:none;
    }
  }
}

.listing .title {
  grid-area: title;
  padding-top: 1em;
  font-size: 1em;
  font-weight: 700;

  a {
    text-decoration: none;
    // color: #0b5d19;
  }
}

.listing .merchant {
  grid-area: merchant;
  margin-bottom: 2em;
  font-size: 0.6em;
}

.listing .price {
  grid-area: price;

  margin: auto;
  margin-bottom: 0.5em;
  color: red;
  font-size: 1em;
  font-weight: 700;
}

.listing .rating {
  grid-area: rating;

  margin: auto;
  margin-right: 5px;
  font-size: 0.5em;
}

.listing .comments {
  grid-area: comments;

  margin: auto;
  margin-left: 5px;
  font-size: 0.5em;
}
