
show {

  .wowz_icon {
    fill: green;
  }
  .lolz_icon {
    fill: orangered;
  }

  height: 100%;

  & > div {
    display: none;
    height: auto;
  }

  #info {
    display: block;
  }

  :target {
    display: block;
  }
}

// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

}
