.pagination {
  list-style-type: none;
}

.pagination li a {
  border: none;
}

.page-link {
  background-color: Transparent;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
  color: black;
}
