
sidebar {
  display: flex;
  overflow: auto;

  #sidebar_hider {
    display: none;

    & + label {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      padding-left: 5px;
      // font-weight: bold;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */

      align-items: center;
      display: flex;
      
      .sidebar_svg_icon {
        width: 1em;
        height: 3em;
      }

      + div {
        overflow: hidden;
        width: 0px;
        max-width: $width-sidebar;

        -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
        transition: all 0.5s;
      }

    }

    &:checked + label {
      + div {
        overflow: auto;
        width: $width-sidebar;
      }
    }
  }

  .tab-content {
    display: none;
    width: 99.7%;
    padding: 0;
    margin: 0;

    @include range_slider;

  }

  .tab {
    overflow: hidden;

    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 0.5em;

    &-label {
      display: flex;
      height: 2em;
      justify-content: space-between;
      background: $sidebarBackgroundColor;
      // font-weight: bold;
      cursor: pointer;
      padding-left: 5px;
      align-items: center;


      &:hover {
        background: darken($sidebarBackgroundColor, 5%);
      }

      &::after {
        content: "\276F";
        color: $sidebarColor;
        transition: all .1s;
      }
    }
    &-content {
      max-height: 0;
      transition: all .35s;
    }

    // :checked
    input:checked {
      + .tab-label {
        background: darken($sidebarBackgroundColor, 5%);
        &::after {
          transform: rotate(90deg);
        }
      }
      ~ .tab-content {
        display: block;
        max-height: 100vh;
      }
    }

    .collapsible {
      display: none;
    }
  }

}

sidebar-show {
// use focus to check for url anchor
  display: flex;
  flex-direction: column;

  .tab-label::after {
    content: none;
  }
  .tab-label {
    min-width: 6em;
    justify-content: left;
  }

  .tab{

    a {
      text-decoration: none;
      color: black;
      // font-weight: bold;
    }
  }
}

sidebar-filters {

  form {
    width: 100%;
    padding-bottom: 1em;

    [type=submit] {
      display: none;
    }

    #filter_q {
      width: 98%;
    }

    .resizable-content {
      width: 100%;
      resize: vertical;
      overflow: auto;

      max-height: fit-content;
      height: -moz-fit-content;
      height: -webkit-fit-content;

      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0 !important
      }
    }

  }

}

// tablet view
@media only screen and (min-width: $width-header) {

}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

  sidebar {
    max-height: 100%;
    transform: translateX(0);

    #sidebar_hider {
      & + label {
        display: none;
        + div {
          padding-left: 1em;
          overflow: auto;
          width: $width-sidebar;

          -webkit-transition: all 0s; /* For Safari 3.1 to 6.0 */
          transition: all 0s;
        }
      }
    }

  }
}
