
@import "./components/range_slider.css.scss";

sidebar-filters {

  form {
    padding-bottom: 1em;

    .tab-content {
      display: none;
      width: 99.7%;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 1em;;

      @include range_slider;

    }

    .tab {
      overflow: hidden;
      &-label {
        display: flex;
        justify-content: space-between;
        background: $baseBackgroundColor;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background: darken($baseBackgroundColor, 5%);
        }

        &::after {
          content: "\276F";
          transition: all .1s;
        }
      }
      &-content {
        max-height: 0;
        transition: all .35s;
      }
      &-close {
        display: flex;
        justify-content: flex-end;
        font-size: 0.75em;
        background: $baseBackgroundColor;
        cursor: pointer;
        &:hover {
          background: darken($baseBackgroundColor, 5%);
        }
      }
    }

    // :checked
    input:checked {
      + .tab-label {
        background: darken($baseBackgroundColor, 5%);
        &::after {
          transform: rotate(90deg);
        }
      }
      ~ .tab-content {
        display: block;
        max-height: 100vh;
      }
    }

  }

  .collapsible {
    display: none;
  }
}

.resizable-content {
  width: 100%;
  resize: vertical;
  overflow: auto;

  max-height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important
  }
}

// tablet view
@media only screen and (min-width: $width-header) {

    sidebar {
      transform: translateX(0);
    }
}

//desktop view
@media only screen and (min-width: $width-header_desktop) {

  sidebar {
    transform: translateX(0);
  }

}
