$baseColor: #FFA500;
$baseBackgroundColor: #fff1d0;

$height-header: 1.7em;
$height-header_desktop: 2em;
$width-header: 25em;
$width-header_desktop: 40em;
$width-sidebar: 11em;
$height-sidebar_tablet: 5em;
$height-footer: 1em;

@mixin dropdown_icon_border {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

// Resets
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

a {
  text-decoration: none;
}

.svg_icon {
  width: 1em;
  height: 1em;
  fill: $baseColor;
}

header {
  padding-right: 5px;
  grid-area: header;
  display: flex;
  align-items: center;
  min-height: $height-header;
  width: 100vw;
  background-color: $baseBackgroundColor;
}

main {
  grid-area: main;
  overflow-y: auto;
  padding-left: 0.5em;
}

sidebar {
  grid-area: sidebar;
  margin-top: 1em;
}

footer {
  padding-right: 5px;
  grid-area: footer;
  display: flex;
  align-items: center;
  min-height: $height-footer;
  width: 100vw;
  background-color: $baseBackgroundColor;
}

// mobile first
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  align-items: stretch;
  grid-template-columns: min-content $width-sidebar 1fr;
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
  height: 100vh;
  width: 100vw;
}

// tablet view
@media only screen and (min-width: $width-header) {

}

// desktop view
@media only screen and (min-width: $width-header_desktop) {
  body {
    grid-template-columns: min-content $width-sidebar 1fr;
    grid-template-rows: $height-header_desktop 1fr $height-footer;
    grid-template-areas:
      'header header header'
      'sidebar main main'
      'footer footer footer';
  }

  sidebar {
    display: block;
  }

  header {
    min-height: $height-header_desktop;
  }

    // .icon {
    //   max-height: $height-header_desktop;
    //   max-width: $height-header_desktop;
    // }
}
