$themeColor: #ffa500;
$baseColor: white;
$baseBackgroundColor: $themeColor;
// $baseBackgroundColor: #fff1d0;
$sidebarColor: $themeColor;
$sidebarBackgroundColor: $baseColor;
$reactionIconBackgroundColor: $baseColor;

$height-header: 3em;
$height-header_desktop: 3em;
$width-header: 25em;
$width-header_desktop: 40em;
$width-sidebar: 11em;
$height-footer: 2em;

@mixin dropdown_icon_border {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

@mixin pre-wrap {
  white-space: pre-wrap;

  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin spinner_number_input {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &:focus,
  &:hover {
    -moz-appearance: number-input;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button;
      margin: 0 2px 0 0;
    }
  }
}

// Resets
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flash:empty,
.alert:empty {
  display: none;
}

.flash {
  padding: 5px;

  &.info {
    color: green;
  }

  &.error {
    color: red;
  }
}

.alert-danger {
  color: red;
}

.help-block {
  color: red;
  white-space: pre-wrap;
}

.space {
  display: inline-block;
  width: 1em;
}

.nota_bene {
  color: red;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.svg_icon {
  width: 1em;
  height: 1em;
  fill: $baseColor;
  background-color: $baseBackgroundColor;
  border-radius: 5em;
}

#logo_icon {
  border-radius: 0;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  min-height: $height-header;
  width: 100vw;
  background-color: $baseBackgroundColor;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

main {
  grid-area: main;
  overflow-y: auto;
  padding-left: 0.5em;
}

sidebar {
  grid-area: sidebar;
  margin-top: 1em;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  min-height: $height-footer;
  width: 100vw;
  // background-color: $baseBackgroundColor;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

// mobile first
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  align-items: stretch;
  grid-template-columns: min-content $width-sidebar 1fr;
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
  height: 100vh;
  width: 100vw;
}

.bg_red {
  background-color: red;
}
.bg_green {
  background-color: green;
}
.bg_blue {
  background-color: blue;
}
.bg_orange {
  background-color: orange;
}

// tablet view
@media only screen and (min-width: $width-header) {
}

// desktop view
@media only screen and (min-width: $width-header_desktop) {
  body {
    grid-template-columns: min-content $width-sidebar 1fr;
    grid-template-rows: $height-header_desktop 1fr $height-footer;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
  }

  sidebar {
    display: block;
  }

  header {
    min-height: $height-header_desktop;
  }

  // .icon {
  //   max-height: $height-header_desktop;
  //   max-width: $height-header_desktop;
  // }
}
