mails mail,
header mail {
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-areas:
    "avatar author time credits"
    "avatar text text credits";
  padding: 0.3em;
  text {
    // overflow: visible;
    overflow: auto;
    padding-right: 0.5em;
  }
}

#show_mail {
  grid-template-areas:
    "avatar author time"
    "text text text"
    ". credits .";
  padding: 0.3em;
}

mail {
  display: grid;

  a {
    text-decoration: none;
    color: black;
  }

  avatar {
    grid-area: avatar;
    padding: 0.2em;

    img {
      max-width: 2em;
      border-radius: 50%;
    }
  }

  author {
    grid-area: author;

    font-size: 0.8em;

    mail {
      font-size: 0.5em;
      font-weight: 400;
    }
  }

  time {
    grid-area: time;
    // text-align: left;

    font-size: 0.7em;
    padding-left: 0.5em;
  }

  text {
    grid-area: text;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    @include hidden_scroll;

    .title {
      font-size: 1em;
      font-weight: 900;

      a {
        text-decoration: none;
      }
    }

    .content {
      max-height: 80vh;
      overflow: scroll;

      @include hidden_scroll;
      @include pre-wrap;
    }
  }

  credits {
    grid-area: credits;
    margin: auto;
    cursor: pointer;

    &.claimed {
      display: none;
    }

    .claim_icon {
      border-radius: 0;
      background-color: $reversedBackgroundColor;
      fill: green;
    }
  }
}

// tablet view
@media only screen and (min-width: $width-header) {
  #show_mail {
    grid-gap: 1em;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "avatar text"
      "author text"
      "time text"
      ". text"
      ". credits";

    avatar {
      img {
        max-width: 5em;
      }
    }
  }
}

//desktop view
@media only screen and (min-width: $width-header_desktop) {
}
