.datalist_container {
    position: relative;
    // //background-color: $baseBackgroundColor;
    // padding: 5px 5px 0 5px;
    // padding-right: 30px;
    // border-radius: 5px;
    // overflow: hidden;
    // width: 100%;
    // min-height: 30px;
    // user-select: none;

}

.datalist_input {
  box-sizing: border-box;
  width: 100%;
  height: 1.5em;
  border: none;
}

.datalist_editable_input {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 1.5em;
  border: none;
  z-index: 2;

  + .datalist_items {
    padding-top: 1.5em;
  }
}

.datalist_select {
    border: none;
    width: 100%;
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    padding-left: 5px;
}

.datalist_select > option {
    //background: $baseBackgroundColor;
    // font-size: 15px;
    // /* font-weight: bold; */ /* add this for bold options */
}

.datalist_placeholder {
    font-size: 14px;
    // position: absolute;
    // top: 45%;
    // left: 6px;
    // transform: translateY(-50%);
}

.datalist_arrow {
    position: absolute;
    right: 10px;
    vertical-align: middle;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.datalist_items {
  display: flex;
  flex-direction: column;
  // padding-top: 1.5em;
}

.datalist_item {
    position: relative;
    z-index: 1;
    display: inline-block;
    //background-color: $baseBackgroundColor;
    color: rgba(0, 0, 0, .9);
    padding:2px 4px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 100%;
}

.datalist_content {
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0, 0, 0, .9);
}

.datalist_item_spinner {
  position: absolute;
  top: 1px;
  right: 22px;
  width: 2.5em;

  @include spinner_number_input;
}

.datalist_del {
    position: absolute;
    // top: 4px;
    bottom: 18px;
    right: 12px;
}

.datalist_del:hover {
    cursor: pointer;
}

.datalist_item:hover {

    background-color: rgba(255, 255, 255, 0.603);
}

.datalist_hide {
    display:none;
}

.datalist_x {
    width: 4px;
    height: 12px;
    background-color: $themeColor;
    position: absolute;
    top: 0;
}

.datalist_x:first-child {
    transform: rotate(45deg);
}

.datalist_x:last-child {
    transform: rotate(-45deg);
}
