.add_credits_info {
  padding: 1em;
}

payments payment {
  grid-gap: 0.5em;
  grid-template-areas:
    "invoice type time"
    "invoice amount status";
  padding: 1em;
}

#buy_credits_button {
  width: 10em;
}

payment {
  display: grid;

  .header,
  credits,
  credits_before,
  credits_after {
    display: none;
  }

  invoice {
    grid-area: invoice;
  }

  status {
    grid-area: status;
  }

  amount {
    grid-area: amount;
  }

  credits {
    grid-area: credits;
  }

  credits_before {
    grid-area: credits_before;
  }

  credits_after {
    grid-area: credits_after;
  }

  time {
    grid-area: time;
  }
}

// tablet view
@media only screen and (min-width: $width-header) {
  payments payment {
    grid-template-columns: repeat(5, minmax(5em, 1fr));
    grid-template-areas: "invoice type status amount time";
    width: calc(100% - 3em);
  }

  show_payment {
    & > * {
      display: grid;
      grid-template-columns: 20vw 1fr;

      padding: 0.2em;

      label {
        text-align: right;
        padding-right: 1em;
        grid-column: 1 / 2;
      }

      span {
        grid-column: 2 / 6;
      }
    }
  }

  payment {
    .header {
      display: block;
    }

    credits.header,
    credits_before.header,
    credits_after.header {
      display: none;
    }
  }
}

//desktop view
@media only screen and (min-width: $width-header_desktop) {
  payments payment {
    grid-template-columns: repeat(6, minmax(5em, 1fr));
    grid-template-areas: "invoice type status amount credits time";
    width: calc(100% - 3em);
  }

  payment {
    credits,
    credits.header {
      display: block;
    }
  }
}
