
@mixin range_slider {

  .rangeValues {
    margin-bottom: 0.5em;
    display: flex;

    .min {
      padding-left: 3px;

      width: 4em;
      border: 0px;
    }

    .max {
      padding-right: 3px;
      margin-left: auto;

      width: 50%;
      border: 0px;
      text-align: right;
    }
  }

  .max-slider {
    top: -1.4em;
  }

  input[type=range] {
    width: 100%;
    height: 1em;
    -webkit-appearance: none;
    margin: 0;
    position: relative;
    outline: none;
    transform: translateY(-50%);
    background: none;

    pointer-events: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px $baseColor;
    background: $baseColor;
    border-radius: 50px;
    border: 0px solid $baseColor;
  }
  input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    box-shadow: 0px 0px 0px $baseColor;
    border: 0px solid $baseColor;
    height: 17px;
    width: 10px;
    border-radius: 39px;
    background: $baseColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $baseColor;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px $baseColor;
    background: $baseColor;
    border-radius: 50px;
    border: 0px solid $baseColor;
  }
  input[type=range]::-moz-range-thumb {
    pointer-events: all;
    box-shadow: 0px 0px 0px $baseColor;
    border: 0px solid $baseColor;
    height: 17px;
    width: 10px;
    border-radius: 39px;
    background: $baseColor;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $baseColor;
    border: 0px solid $baseColor;
    border-radius: 100px;
    box-shadow: 1px 1px 1px $baseColor;
  }
  input[type=range]::-ms-fill-upper {
    background: $baseColor;
    border: 0px solid $baseColor;
    border-radius: 100px;
    box-shadow: 1px 1px 1px $baseColor;
  }
  input[type=range]::-ms-thumb {
    pointer-events: all;
    margin-top: 1px;
    box-shadow: 0px 0px 0px $baseColor;
    border: 0px solid $baseColor;
    height: 17px;
    width: 10px;
    border-radius: 39px;
    background: $baseColor;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $baseColor;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $baseColor;
  }
}
