<h1>Listing Ratings</h1>
<script>

function show_hide(element_id) {
    var x = document.getElementById(element_id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script>
<%= for rating <- @ratings do %>
  <div>
    <%= rating.details %>
  </div>
<% end %>
</table>
