<button onclick='show_hide("comment-<%=@comment.id%>")'><%= Gettext.gettext("comment") %></button>
<comment-form id="comment-<%=@comment.id%>" style="display: none">

  <textarea class="body" type="text" name="body" value=""></textarea>
  <input class="comment" type="hidden" name="comment" value="<%= Jason.encode! @comment %>">
  <button comment-topic="comment:add" type="button"><%= Gettext.gettext("Send") %></button>
</comment-form>
