<button onclick='show_hide("comment_<%=@comment.comment_id%>")'>comment</button>
<comment_form id="comment_<%=@comment.comment_id%>" style="display: none">

  <input class="body" type="text" name="body", value="">
  <input class="comment" type="hidden" name="comment", value="<%= Poison.encode! @comment %>">
  <button comment_topic="comment:add" type="button">Send</button>
</comment_form>
