
<h3><%= Gettext.gettext("Add Comment") %></h3>
<%= render "form.html", comment: @comment_template %>

<h1><%= Gettext.gettext("Listing Comments") %></h1>

<comments>
  <%= for comment <- @comments do %>
    <%= render "show.html", comment: comment, conn: @conn %>
  <% end %>
</comments>

<%= render StoreHallWeb.LayoutView, "pagination.html", conn: @conn, model: @comments, add_params: "comments" %>
