
<button onclick='show_hide("show_hide_comments")'>show/hide comments</button>
<span id="show_hide_comments" style="display: none">
  <h1>Listing Comments</h1>

  <%= for comment <- @comments_info.comments do %>
    <%= render "show.html", comment: comment, comments_info: @comments_info %>
  <% end %>
  </table>


  <h3>Add Comment</h3>
  <%= render "form.html", changeset: @comments_info.comment_changeset, action: @comments_info.comment_path %>

</span>
