
<mails>
  <%= for mail <- @mails do %>
    <%= render "index_mail.html", mail: mail, conn: @conn %>
  <% end %>
</mails>

<%= render StoreHallWeb.LayoutView, "pagination.html", conn: @conn, model: @mails, add_params: "mails" %>
