
<sidebar-show>
  <% user_id = @conn.path_params["user_id"] %>
  <%= if is_logged_user?(@conn, user_id) do %>

    <div class="tab">
      <%= link to: Routes.user_path(@conn, :index), class: "tab-label" do %>
        <%= Gettext.gettext("Add mail") %>
      <% end %>
    </div>

  <% end %>

</sidebar-show>
