

<div class="panel_title"><%= Gettext.gettext("Listing Mails") %></div>

<mails>
  <%= for mail <- @mails do %>
    <%= render "show.html", mail: mail, conn: @conn %>
  <% end %>
</mails>

<%= render StoreHallWeb.LayoutView, "pagination.html", conn: @conn, model: @mails, add_params: "mails" %>
