
<payments>
  <%= render "index_payment_headers.html", payment: Payments.payment_header_names(), conn: @conn %>

  <%= for payment <- @payments do %>
    <%= render "index_payment.html", payment: payment, conn: @conn %>
  <% end %>
</payments>

<%= render StoreHallWeb.LayoutView, "pagination.html", conn: @conn, model: @payments, add_params: "payments" %>
