<div class="panel_title"><%= Gettext.gettext("Add credits") %></div>

<div class="add_credits_info"><%= Gettext.gettext("Here you can add credits to your balance.") %></div>

<%= render "form.html", Map.put(assigns,
                        :action,
                        Routes.user_payment_path(@conn, :create, get_logged_user_id(@conn))) %>
