
  <li>
    <div class='{{me_you}}'>
        <div>
          <div class='name'>{{json author_id}}</div>
          <div class='img'><img class="w-3r bdrs-50p" src="{{author.image}}" alt=""></div>
          <div class='text'>
            <div>
              {{json details.body}}
            </div>
          </div>
        </div>

    </div>
  </li>
