<chat>
  {{json details}}
  <msg-form id="msg-form" >
    <input class="body" type="text" name="body", value="">
    <input class="msg" type="hidden" name="msg", value="{{json this}}">
    <button msg-topic="msg:add" type="button">Send</button>
  </msg-form>
</chat>
