<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>StoreHall</title>

    <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/logo.ico") %>">
    <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/logo.svg") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">

  </head>

  <body>
    <logo>
      <!--svg icons https://github.com/leungwensen/svg-icon-->
      <img class="icon" src="/logo.svg" />

      <%= link to: Routes.item_path(@conn, :index), class: "brand-link" do %>
        StoreHall<% end %>
    </logo>

    <header>
      <%= render "header.html", conn: @conn %>
    </header>

    <main>
        <p class="flash info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="flash error" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
    </main>

    <sidebar>
        <%= render "sidebar.html", conn: @conn %>
    </sidebar>


    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script>window.loggedUserId = "<%= if assigns[:logged_user] != nil do assigns[:logged_user].id end %>";</script>
    <script>window.loggedUserChannel = "<%= StoreHallWeb.UsersChannel.topic_prefix() <> if assigns[:logged_user] != nil do "/" <> assigns[:logged_user].id else "/guest_channel" end %>";</script>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
